body {
  margin: 0 !important;
  font-family: 'Josefin Sans' !important;
  font-weight: 300 !important;
  background-color: #FAFAFA;
  color: #333333;
}

h1, h2 {
  font-family: 'Luckiest Guy', sans-serif;
}

h1 {
  font-size: 52px !important;
  color: #ffffff !important;
}

h2 {
  font-size: 40px !important;
}

h3, h5, h6 {
  color: #FEA700 !important;
}

p {
  font-size: 20px !important;
}

ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-right: 70px;
}

u {
  color: #FEA700;
}

.primary-btn {
  background-color: #FEA700;
  color: #FFFFFF;
  border-radius: 20px;
  border: none;
  padding: 15px 40px;
}

.secondary-btn {
  background-color: #0E0E0E;
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  padding: 20px;
  width: 350px;
  margin: 0 10px;
  text-decoration: none;
}

.hr-lines{
  position: relative;
  max-width: 230px;
  text-align: center;
}

.hr-lines:before{
  content:" ";
  height: 2px;
  width: 50px;
  background: #FEA700;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

.hr-lines:after{
  content:" ";
  height: 2px;
  width: 50px;
  background: #FEA700;
  display: block;
  position: absolute;
  top: 40%;
  right: 0;
}

.navbar {
  margin: auto;
  padding: 0 70px !important;
}

.navbar-brand {
  font-family: 'Luckiest Guy';
  font-size: 24px !important;
}

.navbtnn {
  background-color: #FEA700 !important;
  color: #FFFFFF !important;
  border-radius: 15px !important;
  border: none;
  padding: 10px 25px !important;
}

.nav-link {
  margin-left: 30px !important;
}

.icon {
  height: 80px;
  width: 80px;
}

#intro {
  background-color: #0e0e0e;
  background-image: url(outttt.png);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.intro-info {
  margin: auto;
  max-width: 1440px;
  padding: 200px 70px;
  text-align: center;
}

.line-container {
  width: 100%;
}

.wrap {
  width: 100%;
  height: 50%;
  position: relative;
  margin: 0 auto;
}

.line {
  height: 40px;
  background-color: gold;
}

.line2 {
  height: 40px;
  background-color: #FEA700;
  position: relative;
  bottom: 40px;
}

.left-rotate {
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}

.right-rotate {
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

#services {
  max-width: 1440px;
  margin: auto;
  padding: 100px 70px;
}

.service-info {
  padding-top: 30px;
}

.image {
  width: 400px;
  height: 233px;
  border-radius: 35px;
}

#reviews {
  text-align: center;
  background-color: #000000;
  background-image: url(out21.png);
  background-repeat: repeat;
  padding: 150px 70px;
}

.review-info {
  margin: auto;
  max-width: 1440px;
  text-align: center;
  padding: 10px 70px;
}

.carousel {
  padding: 30px 0;
}

.card {
  border: 7px solid #FEA700 !important;
  text-align: center;
  padding: 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #FEA700;
  border-radius: 50%;
}

#about {
  max-width: 1440px;
  margin: auto;
  padding: 100px 70px;
}

.about-image {
  max-width: 90%;
  height: 430px;
  border-radius: 20px;
}

#banner {
  background-color: #FEA700;
  text-align: center;
  padding: 100px 70px;
}

#banner h2 {
  color: #FFFFFF;
}

#gallery {

}

.gallery-img {
  width: 100%;
  height: 500px;
}

.marginrow {
  margin: 0;
}

#divider {
  background-color: #000000;
  height: 50px;
}

#process {
  margin: auto;
  padding: 100px 70px;
  background-image: url(out21.png);
  background-repeat: repeat;
}

.process-info {
  max-width: 1440px;
  margin: auto;
}

.process-card {
  background-color: #FAFAFA;
  margin: 40px auto;
  max-width: 350px;
  height: 400px !important;
  border-radius: 25px !important;
}

.card-text {
  text-align: left;
}

.process-img {
  padding: 5px 5px 5px 7px;
  margin: 0 auto 10px;
}

#contact {
  max-width: 1440px;
  margin: auto;
  padding: 100px 70px;
}

.contact-info {
  margin: auto;
  max-width: 1440px;
  text-align: center;
  padding: 0 70px 70px;
}

form {
  max-width: 900px;
  margin: auto;
}

input, select, textarea {
  border-radius: 15px !important;
  padding: 15px !important;
  border: 1px solid #000 !important;
}

.sub {
  background-color: #FEA700;
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 20px;
  color: #FFFFFF;
}

.foot {
  text-align: center;
  padding-top: 100px;
}

.foot p {
  font-size: 12px !important;
}

@media only screen and (max-width: 600px)  {
  h1 {
    font-size: 30px !important;
  }

  navbar-toggler {
    height: 5px !important;
    width: 10px !important;
  }

  navbar-toggler-icon {
    height: 5px !important;
    width: 10px !important;
  }

  #intro {
    background-color: #0e0e0e;
    height: auto;
  }

  .intro-info {
    padding: 70px 20px;
  }

  .line {
    height: 30px;
  }

  .line2 {
    height: 30px;
    bottom: 30px;
  }

  .left-rotate {
    -ms-transform: rotate(1.5deg);
    -webkit-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }

  .right-rotate {
    -ms-transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }

  .navbar {
    margin: 0;
    padding: 10px !important;
  }

  .navbar-brand {
    font-family: 'Luckiest Guy';
    font-size: 20px !important;
  }

  .navbtnn {
    background-color: #FEA700 !important;
    color: #FFFFFF !important;
    border-radius: 15px !important;
    border: none;
    padding: 10px 25px !important;
  }

  .nav-link {
    margin-top: 10px !important;
    margin-left: 30px !important;
    font-size: 20px !important;
  }

  .navbar-nav {
    padding: 15px 0;
  }

  .icon {
    height: 40px;
    width: 40px;
  }

  #services {
    max-width: 1440px;
    margin: auto;
    padding: 50px 35px;
  }

  .service-info {
    padding-top: 10px;
  }

  .service-info h3 {
    padding-top: 30px;
  }
  #services br {
    display: none;
  }

  .image {
    width: 100%;
    height: 300px;
    margin: 10px 0;
    border-radius: 35px;
  }

  #reviews {
    padding: 50px 35px;
  }

  .review-info {
    padding: 0;
  }

  .carousel {
    padding: 10px 0 40px;
  }

  .card {
    padding: 10px;
    margin-top: 30px;
  }

  #about {
    padding: 50px 35px;
  }

  .ab {
    padding-top: 50px !important;
  }
  .about-image {
    max-width: 100%;
    height: 330px;
    border-radius: 20px;
  }

  #banner {
    background-color: #FEA700;
    text-align: center;
    padding: 50px 35px;
  }

  #banner h2 {
    color: #FFFFFF;
    font-size: 35px !important;
  }

  .secondary-btn {
    background-color: #0E0E0E;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    width: 350px;
    margin: 5px;
    text-decoration: none;
  }

  #banner p {
    font-size: 18px !important;
  }

  #banner br {
    display: none;
  }

  #gallery {

  }

  .gallery-img {
    width: 100%;
    height: 200px;
  }

  .marginrow {
    margin: 0;
  }

  #divider {
    background-color: #000000;
    height: 50px;
  }

  #process {
    margin: auto;
    padding: 50px 35px;
    background-image: url(out21.png);
    background-repeat: repeat;
  }

  .process-info {
    max-width: 1440px;
    margin: auto;
  }

  .process-img {
    padding: 0px 5px 5px 7px;
    margin: 0 auto 10px;
  }

  .process-card {
    background-color: #FAFAFA;
    margin: 20px auto;
    width: 450px;
    height: 390px !important;
    border-radius: 25px !important;
  }

  #contact {
    max-width: 1440px;
    margin: auto;
    padding: 50px 35px;
  }

  #contact h2 {
    width: auto !important;
    padding-bottom: 30px;
  }

  .contact-info {
    padding: 0;
  }

  input, select, textarea {
    margin: 10px 0 !important;
  }

  form br {
    display: none;
  }

  .sub {
    background-color: #FEA700;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
  }

  .foot {
    text-align: center;
    padding-top: 100px;
  }

  .foot p {
    font-size: 12px !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
